# Entornos virtuales (no se suben)
venv/
venv311/
.venv/

# Archivos de Python compilados
__pycache__/
*.pyc

# Configuración de entorno
.env

# Artefactos de build y distribución
dist/
build/

# Logs locales
logs/
*.log
log.txt

# IDE/editor
.vscode/
.idea/

# Sistema operativos
.DS_Store
Thumbs.db