.navbar{
    background-color: #00034e !important;
}

.dashboard-header{
    background: linear-gradient(135deg, #0a2271, #134093) !important;
}

.text-muted, .texto-simple{
    font-weight: bold;
}
.texto-simple{
    color: white !important;
}