.navbar{
    background-color: var(--primary-color) !important;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.dashboard-header{
    background: linear-gradient(135deg, var(--primary-color), var(--color-claro)) !important;
}

.text-muted, .texto-simple{
    font-weight: bold;
}
.texto-simple{
    color: white !important;
}