:root{
    --color-oscuro: #00378f;
    
    --color-medio-oscuro: #05125f;

    --color-medio: #0a2271;

    --color-medio-claro: #0e3182;

    --color-claro: #134093;

    --color-texto-claro: #ffffff;

    --color-texto-oscuro: #000000;
}
